@{
    ViewData["Title"] = "Home Page";
  
  Layout = "~/Views/Shared/_Layout.cshtml";

}

<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>eMNY</title>

</head>

<body>

  <!-- Page Content -->
  <div class="container">

    <!-- Jumbotron Header -->
    <header class="jumbotron my-4">
      <h1 class="display-3">A New Standard in Internet Banking</h1>
      <p class="lead">Made easy for everyone in the family.</p>
      <a class="btn btn-primary btn-lg" asp-controller="Home" asp-action="Register">Get Started</a>
    </header>

    <!-- Page Features -->
    <div class="row text-center">

      <div class="col-lg-3 col-md-6 mb-4">
        <div class="card h-100">
          <img class="card-img-top">
          <div class="card-body">
            <h4 class="card-title">Checking</h4>
            <p class="card-text">Learn more about checking.</p>
          </div>
          <div class="card-footer">
            <a class="btn btn-primary" asp-controller="Home" asp-action="Register">Find Out More!</a>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 mb-4">
        <div class="card h-100">
          <img class="card-img-top">
          <div class="card-body">
            <h4 class="card-title">Savings</h4>
            <p class="card-text">Check out our great interest rates. Save for anything: love, life, and the unknown.</p>
          </div>
          <div class="card-footer">
            <a class="btn btn-primary" asp-controller="Home" asp-action="Register">Find Out More!</a>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 mb-4">
        <div class="card h-100">
          <img class="card-img-top">
          <div class="card-body">
            <h4 class="card-title">About Us</h4>
            <p class="card-text">Interested in joining our family? Learn more about us.</p>
          </div>
          <div class="card-footer">
            <a class="btn btn-primary" asp-controller="Home" asp-action="Register">Find Out More!</a>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 mb-4">
        <div class="card h-100">
          <img class="card-img-top">
          <div class="card-body">
            <h4 class="card-title">Tracking Expenses</h4>
            <p class="card-text">Get help with tracking your expenses.</p>
          </div>
          <div class="card-footer">
            <a class="btn btn-primary" asp-controller="Home" asp-action="Register">Find Out More!</a>
          </div>
        </div>
      </div>

    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->

  <!-- Bootstrap core JavaScript -->
  <script src="lib/jquery/dist/jquery.js"></script>
  <script src="js/site.js"></script>

</body>

</html>


