@{
    ViewData["Title"] = "Home Page";
  
  Layout = "~/Views/Shared/_Layout.cshtml";

}

<div class="hero-body">
      <div class="container has-text-centered">
          <h1 class="title">
          The new standard in Internet Banking
          </h1>
          <h2 class="subtitle">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
          </h2>
      </div>
  </div>
  </section>

<section class="container">
  <div class="columns features">
    <div class="column is-4">
      <div class="card is-shady">
        <div class="card-image has-text-centered">
          <i class="fa fa-dollar-sign is-7"></i>
        </div>
        <div class="card-content">
          <div class="content">
            <h4>Tristique senectus et netus et. </h4>
            <p>Purus semper eget duis at tellus at urna condimentum mattis. Non blandit massa enim nec. Integer enim neque volutpat ac tincidunt vitae semper quis. Accumsan tortor posuere ac ut consequat semper viverra nam.</p>
            <p><a href="#">Learn more</a></p>
          </div>
        </div>
      </div>
    </div>
    
    <div class="column is-4">
      <div class="card is-shady">
        <div class="card-image has-text-centered">
          <i class="fa fa-user is-7"></i>
        </div>
        <div class="card-content">
          <div class="content">
            <h4>Tristique senectus et netus et. </h4>
            <p>Purus semper eget duis at tellus at urna condimentum mattis. Non blandit massa enim nec. Integer enim neque volutpat ac tincidunt vitae semper quis. Accumsan tortor posuere ac ut consequat semper viverra nam.</p>
            <p><a href="#">Learn more</a></p>
          </div>
        </div>
      </div>
    </div>
    
    <div class="column is-4">
      <div class="card is-shady">
        <div class="card-image has-text-centered">
          <i class="fa fa-chart-pie is-7"></i>
        </div>
        <div class="card-content">
          <div class="content">
            <h4>Tristique senectus et netus et. </h4>
            <p>Purus semper eget duis at tellus at urna condimentum mattis. Non blandit massa enim nec. Integer enim neque volutpat ac tincidunt vitae semper quis. Accumsan tortor posuere ac ut consequat semper viverra nam.</p>
            <p><a href="#">Learn more</a></p>
          </div>
        </div>
      </div>
    </div>
  </div>
  

</section>
