@using eMNY.Domain.Models
@using eMNY.Code.Helpers

@model eMNY.Client.Models.BankViewModel
@{
  Layout = "~/Views/Shared/_Layout.cshtml";
  ViewData["Title"] = "History";
}

<div class="text-center justify-content-center">
  <h1 class="display-4">Your Transaction History</h1>
  @using (@Html.BeginForm())
  {
    <p></p>
    List<Transactions> transactions = new List<Transactions>();
    var th = new TransactionHelper();
    foreach (var transaction in th.GetTransactions())
    {
      string transtype = string.Empty;
      if (transaction.IsDeposit == true)
      {
        transtype = "Deposit";
      }
      else
      { transtype = "Withdrawl"; }


      transactions.Add(transaction);
      @Html.LabelFor(m => m.AccountNumber, " ID: " + transaction.Id + " Amount: " + transaction.TransactionAmount + " Date: " + transaction.TransactionDate + " Transaction " + transtype)
      <br />
    }

  }

</div>

<div>
  @Html.ActionLink("Back to Homepage", "Index", "Home")
</div>

