<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>eMNY</title>
  <link rel="stylesheet" href="~/css/bulma.css">
  <link rel="stylesheet" href="~/css/layout.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
</head>

<body>
  <section class="hero is-info is-medium is-bold">
    <div class="hero-head">
      <nav class="navbar">
        <div class="container">
          <div class="navbar-brand">
            <a class="navbar-item" asp-controller="Home" asp-action="Index">
              <h1 class="is-4"><strong>eMNY</strong></h1>
            </a>

            <span class="navbar-burger burger" data-target="navbarMenu">
              <span></span>
              <span></span>
              <span></span>
            </span>
          </div>


            <div id="navbarMenu" class="navbar-menu">
              <div class="navbar-end">
                <div class="tabs is-right">
                  <ul>
                    <li class="is-active"><a asp-controller="Home" asp-action="Index">Home</a></li>
                    <li><a href="">About</a></li>
                    <li><a href="">Contact</a></li>
                    <li><a asp-controller="Login" asp-action="Login">Login</a></li>
                    <li><a asp-controller="Login" asp-action="Register">Apply</a></li>
                  </ul>
                  </div>
                </div>
              </div>
          </div>
      </nav>
  </div>
  
<div class="container">
    @RenderBody()
  </div>

<footer class="footer">
    <div class="content has-text-centered">
      <p>
        <strong>eMNY</strong> is created and maintained by Edmond Thompson, Narely Najera & Christopher Clendinen.
      </p>
      <p>Project licensed under
        <a href=" https://github.com/ChrisAClen/Team-Repo/blob/master/LICENSE">Apache License 2.0</a>.
      </p>
    </div>
  </footer>
  @RenderSection("Scripts", required: false)
</body>
</html>